@use "sass:map";

$colors: (
  neutral: (
    100: white,
    150: #fafafa,
    200: #f6f6f6,
    250: #e8e8e8,
    300: #bbb,
    400: #5c5c5c,
    500: #4a4a4a,
    600: #3f3f3f,
    700: #333,
    800: #2a2a2a,
    900: #1e1e1e,
  ),
  primary: (
    400: #e87822,
    500: #de6a11,
    600: #cd5a01,
    700: #ab4a00,
  ),
  complementary: (
    400: #22e8ad,
  ),
);

@function clr($color, $shade) {
  @if map.has-key($colors, $color, $shade) {
    @return map.get($colors, $color, $shade);
  } @else {
    @error '$colors does not contain that color.';
  }
}

:root {
  // GLOBALS
  --clr-bg: #{clr(neutral, 200)};
  --clr-text: #{clr(neutral, 900)};
  --clr-primary: #{clr(primary, 400)};
  --clr-complementary: #{clr(complementary, 400)};
  --clr-relief-bg: #{clr(neutral, 150)};
  --clr-shadow: #{clr(neutral, 300)};

  // UNIQUES
  --clr-testimonial-quotes: #{clr(neutral, 300)};

  // INTERMEDIARIES
  --clr-element-bg: var(--clr-primary);
  --clr-element-text: var(--clr-text);
}

:root.dark {
  // GLOBALS
  --clr-bg: #{clr(neutral, 800)};
  --clr-text: #{clr(neutral, 250)};
  --clr-primary: #{clr(primary, 400)};
  --clr-relief-bg: #{clr(neutral, 900)};
  --clr-shadow: #{clr(neutral, 400)};

  // UNIQUES
  --clr-testimonial-quotes: #{clr(neutral, 900)};

  // INTERMEDIARIES
  --clr-element-bg: var(--clr-relief-bg);
  --clr-element-text: var(--clr-primary);
}

:root {
  // LOCALS
  --clr-hero-text: var(--clr-element-text);
  --clr-hero-bg: var(--clr-element-bg);

  --clr-nav-text: var(--clr-element-text);
  --clr-nav-bg: var(--clr-element-bg);

  --clr-footer-text: var(--clr-element-text);
  --clr-footer-bg: var(--clr-element-bg);

  --clr-card-bg: var(--clr-relief-bg);
  --clr-card-shadow: var(--clr-shadow);
}
