@use "../abstracts/" as *;

.flex-group {
  display: flex;
  column-gap: var(--flex-column-gap, $gap-flex-group);
  row-gap: var(--flex-row-gap, calc($gap-flex-group / 2));

  &.mx-auto {
    justify-content: center;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}
