---
import IndexLayout from "../layouts/IndexLayout.astro";
import Cards from "../components/Cards.astro";
import Testimonials from "../components/Testimonials.astro";
import Button from "../components/Button.astro";
---
<IndexLayout title="DMSL Arquitetura e Construção">
	<h1 class="sr-only">DMSL</h1>
	<Cards
		cards={[
			{
				linksTo: "/projetos",
				image: "/index/cards/card_arquitetura_TEVJRJ.jpg",
				title: "Projetos",
				text: "Desenvolvimento de projetos arquitetônicos,  interiores e reformas. Fazemos o planejamento da sua reforma ou construção, desenvolvendo um projeto personalizado de acordo com as necessidades de cada cliente, dos primeiros rascunhos até o levantamento de custos da obra."
			},
			// {
			// 	linksTo: "/projetos",
			// 	image: "/index/cards/card_interiores_AptRI.jpg",
			// 	title: "Interiores",
			// 	text: "Cuidamos dos mínimos detalhes para criar um ambiente que você vai amar habitar."
			// },
			{
				linksTo: "/projetos",
				image: "/index/cards/card_construcao_AptRM.jpg",
				title: "Obras",
				text: "Executamos sua reforma ou construção do começo ao fim com uma ampla e qualificada equipe de parceiros, da fase inicial da obra ate os acabamentos e detalhes finais. Desenvolvendo o planejamento, cronograma, levantamento e controle de custos, contratação de equipes e fornecedores, fiscalização e controle de qualidade da obra."
			},
			{
				linksTo: "/projetos",
				image: "/index/cards/card_demaisservicos_AptJPH.jpg",
				title: "Consultoria",
				text: "Oferecemos também diversos tipos de consultoria, tais como: Consultoria de Decoração, Planejamento Imobiliário, e Regularização de Imóveis."
			},
		]}
	/>
	<!-- <Testimonials
		testimonials={[
			{
				photo: "https://source.unsplash.com/woman-wearing-black-scoop-neck-long-sleeved-shirt-Zz5LQe-VSMY",
				name: "Jane Doe",
				quote: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam nam aperiam sapiente ullam error libero odit esse vel recusandae, quos quia earum. Blanditiis modi dolore inventore repellat laudantium eius nemo!",
			},
			{
				photo: "https://source.unsplash.com/women-holding-her-collar-standing-near-wall-J1OScm_uHUQ",
				name: "Jane Doe",
				quote: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam nam aperiam sapiente ullam error libero odit esse vel recusandae, quos quia earum. Blanditiis modi dolore inventore repellat laudantium eius nemo!",
			},
			{
				photo: "https://source.unsplash.com/vertical-portrait-of-short-haired-mixed-race-woman-looking-at-camera-and-smiling-happily-while-posing-against-neutral-background-in-studio-W3e4DI003do",
				name: "Jane Doe",
				quote: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam nam aperiam sapiente ullam error libero odit esse vel recusandae, quos quia earum. Blanditiis modi dolore inventore repellat laudantium eius nemo!",
			},
		]}
	/> -->

<section class="container | flex-group">
	<Button 
		href="/contato" 
		type="accent">
		Solicite um Orçamento!
	</Button>
</section>
	
</IndexLayout>