---
import IndexLayout from "../layouts/IndexLayout.astro";
import Cards from "../components/Cards.astro";
import Testimonials from "../components/Testimonials.astro";
import Button from "../components/Button.astro";
---
<IndexLayout title="DMSL Arquitetura e Construção">
	<h1 class="sr-only">DMSL</h1>
	<Cards
		cards={[
			{
				linksTo: "/projetos",
				image: "/index/cards/card_arquitetura_TEVJRJ.jpg",
				title: "Projetos",
				text: "Desenvolvimento de projetos arquitetônicos, urbanísticos, interiores e reformas. Fazemos o planejamento da sua reforma ou construção, desenvolvendo um projeto personalizado de acordo com as necessidades de cada cliente, dos primeiros rascunhos até o levantamento de custos da obra."
			},
			{
				linksTo: "/projetos",
				image: "/index/cards/card_construcao_AptRM.jpg",
				title: "Obras",
				text: "Executamos sua reforma ou construção do começo ao fim com uma ampla e qualificada equipe de parceiros, da fase inicial da obra ate os acabamentos e detalhes finais. Desenvolvendo o planejamento, cronograma, levantamento e controle de custos, contratação de equipes e fornecedores, fiscalização e controle de qualidade da obra."
			},
			{
				linksTo: "/projetos",
				image: "/index/cards/card_demaisservicos_AptJPH.jpg",
				title: "Consultoria",
				text: "Oferecemos também diversos tipos de consultoria, tais como: Consultoria de Decoração, Planejamento Imobiliário, e Regularização de Imóveis."
			},
		]}
	/>
	<Testimonials
		testimonials={[
			{
				photo: "/projetos/ApMV/mainthumb_ApMV.jpg",
				name: "Rafael Coffani",
				quote: "Minha experiência com a DMSL Arquitetura e Construção em 2021 foi muito positiva. Desde o primeiro contato, me impressionou a atenção aos detalhes e pela abordagem profissional dos donos e da equipe. Durante todo o processo de reforma do meu apartamento, sua dedicação em entender minhas necessidades e transformá-las em realidade foi notável. O resultado final não apenas atendeu, mas superou minhas expectativas, refletindo o comprometimento e a qualidade do trabalho da DMSL. Sem dúvida, recomendo seus serviços a qualquer pessoa que busque excelência em arquitetura e tranquilidade na construção.",
			},
			{
				photo: "/projetos/Apartamento_ML/mainthumb_AptML.jpg",
				name: "Mariana Dantas",
				quote: "Amei trabalhar com a DMSL! Eles foram super profissionais e sempre estavam dispostos a ouvir minhas ideias. Recomendo muito!",
			},
			{
				photo: "/projetos/Apartamento_RI/mainthumb_AptRI.jpg",
				name: "Jason Bingham",
				quote: "Renata e Vinícius trouxeram a criatividade e experiência deles para fazer uma reforma incrível no meu apartamento. Eles foram super atenciosos e sempre estavam disponíveis para responder minhas perguntas. O resultado final foi além do que eu esperava, e eu não poderia estar mais feliz com o trabalho deles. Eu definitivamente recomendaria a DMSL para qualquer um que precise de serviços de arquitetura e construção.",
			},
		]}
	/>

<section class="container | flex-group">
	<Button 
		href="/contato" 
		type="accent">
		Solicite um Orçamento!
	</Button>
</section>
	
</IndexLayout>