---
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---
<Header></Header>
<BaseLayout title="DMSL Arquitetura e Construção">
	<h1 class="sr-only">DMSL</h1>
	
</BaseLayout>