---
import PageLayout from "../layouts/PageLayout.astro"
---

<PageLayout>
  <div
    class="container | margin-block-end-48 flow"
    data-type="xs"
  >
    <p>
      Empresa de Arquitetura, Planejamento e Construtora fundada pelos
      arquitetos Renata de Maio Cardoso e Vinicius Staduto Leis, ambos
      formados pela Universidade Presbiteriana Mackenzie, que uniram seus
      conhecimentos e experiências distintas com o objetivo de criar uma
      empresa capaz de atuar em diferentes áreas da arquitetura, urbanismo e
      construção civil.
    </p>
    <p>
      Desenvolve projetos de diversas escalas e usos, como interiores e
      reformas residenciais, comerciais e corporativas, residências
      unifamiliares, edifícios, loteamentos e planejamento urbano.
    </p>
    <p>
      Gerenciamento e execução de obras dos mais variados portes, garantindo
      qualidade, controle de custos e prazo.
    </p>
    <p>
      Consultoria para desenvolvimento de empreendimentos imobiliários,
      destacadamente na análise de áreas para aquisição, estudos de
      viabilidade econômico-financeiro e técnico, gestão de aprovações e
      licenciamentos e coordenação de projetos.
    </p>
  </div>
</PageLayout>

