---

---

<section class="container | cta | flex-group">
  <a
    class="button | box-shadow-even-1 mx-auto ff-secondary fw-regular"
    href="./contato.html"
    data-type="accent"
    >Pede o seu Orçamento já!</a
  >
</section>

<style>
  .cta {
    margin: 3rem auto;
    justify-content: center;
  }

</style>