---
const { title } = Astro.props;
console.log ({title});

import "../styles/global.scss";

type Props = {
  title: string
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script is:inline>
      /** Represent the toggle theme class with a variable */
      const DARK_THEME_CLASS = "dark";

      // To save selected theme to local storage
      // Represent the local storage key by a variable
      const COLOR_MODE = "COLOR_MODE";
      // Represent the local storage values by a variable
      const LIGHT_THEME="LIGHT";
      const DARK_THEME="DARK";
      /** Grab the document root element. In this case <html>  */
      const rootEl = document.documentElement;
      const { log } = console;
      const getInitialColorMode = () => {
        /** Get color mode from local storage **/
        const previouslySavedColorMode = window.localStorage.getItem(COLOR_MODE);
        log('1');
        if (previouslySavedColorMode) {
          log('2');
          return previouslySavedColorMode;
        }
        /** Does the user prefer dark mode, e.g., through an operating system or user agent setting? */
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return DARK_THEME;
        }
        /** Default to the light theme */
        return LIGHT_THEME;
        };
      /**Get initial color mode */
      const initialColorMode = getInitialColorMode();
      const setInitialColorMode = (mode) => {
        if (mode === LIGHT_THEME) {
          rootEl.classList.remove(DARK_THEME_CLASS);
        } else {
          rootEl.classList.add(DARK_THEME_CLASS);
        }
      };
      /** Set the initial color mode as soon as the script is executed */
      setInitialColorMode(initialColorMode);
    </script>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicons/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/favicons/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#1e1e1e" />
    <meta name="theme-color" content="#ee8130" />

    <slot />

    <title>{title}</title>
  </head>

